/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

* {
  font-family: Georgia;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg1 {
  background-image: url("../img/background1.png");
}

.bg2 {
  background-image: url("../img/background2.png");
}

.bg3 {
  background-image: url("../img/background3.png");
}

.bg4 {
  background-image: url("../img/background4.png");
}

/*@media only screen and (max-device-width: 1024px) {
    body {
        background-attachment: scroll;
        min-height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}*/
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: static;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
    .table-title {
        white-space: nowrap;
        overflow: hidden;
    }
  
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
.panel-body{
  text-shadow: none;
  text-align: left;
  color: #333;
}
.page-content {
    margin-top: 0vh;
    height: 40vh;
    margin-bottom: 20vh;
}

.down {
  animation-name: breathe;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes breathe {
    from {opacity: 1;}
    to {opacity: 0;}
}
.modal-title {
  color: #333;
  text-shadow: none;
}

  
.modal-dialog  {
  width:90%;
  height:90%
}
.modal-content, .modal-body {
  height:100%;
}

iframe {
  width: 90%;
  height: 90%;
}

.text-whitebg {
  color: #333;
  text-shadow: none;
  text-decoration: none;
}
table.table > tbody > tr:hover {
  background-color: rgba(255, 255, 255, .65);
  cursor: pointer;
  text-decoration: none;
}
table.table > tbody > tr.no-pointer:hover {
  cursor: default;
}
.expandable{
    transition: all 0.25s ease;  
}
.expand{
  transform: rotate(-90deg);
}
.panel,
.table {
  opacity: 0;
  color: #333;
  background-color: rgba(255, 255, 255, .7);
  text-shadow: none;
  margin-bottom: 0px;
}
.panel {
  font-size: 18px;
}

.table {
  font-size: 18px;
}

.description {
  font-weight: normal;
}

.small-table{
  font-size: 12px;
}

.down {
  font-size: 2em;
}
.mastfoot {
  color: #000;
}
.clearfix {
  height: 40vh;
}